.rest-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  border-radius: 10px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

ul  {
  list-style: none;
  padding: 0;
}
.rest-li{
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

strong {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #000000;
}

.restaurant-details {
  font-size: 1.2rem;
  color: #000000;
}

li:hover {
  transform: translateY(-2px);
  transition: transform 0.3s ease;
}

.rest-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .rest-li {
    width: calc(30.5% - 20px);
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .rest-li:hover {
    transform: translateY(-2px);
  }
  
  @media (max-width: 768px) {
    .rest-li {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .rest-li {
      width: 100%;
    }
  }


.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.menu-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 1330px;
}

.menu-content h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.menu-content ol {
  list-style: none;
  padding: 0;
}

.menu-content li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  display: flex;
}

.increment input{
  width: 10%;
}

.menu-content button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
.increment button {
  width: fit-content;
}
