.app-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align:left;
  }
  
  .app-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .email-label {
    font-size: 18px;
    color: #555;
  }
  
  .email-input {
    width: 100px;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 4px;
    margin-top: 8px;
  }
  
  .details-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  