.sidebar {
    width: 230px;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .sidebar-heading {
    font-size: 18px;
    margin-top: 0;
  }
  
  .cuisine-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .filter-button {
    background-color: #ebebeb;
    color: #333;
    width: auto;
    text-align: center;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-button:hover {
    border-radius: 5px;
    border-color: #333;
  }
  
  
  .cuisine-item {
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .cuisine-item:last-child {
    margin-bottom: 0;
  }
  
  .cuisine-item:hover {
    background-color: #ccc; 
  }
  
  .header {
    background: linear-gradient(135deg, #ff8a00, #ff0066, #00c3ff);
    color: #fff;
    padding: 20px;
    text-align: center;
    height: auto;
  }
  
  
  .main-heading {
    font-size: 29px;
    margin: 0;
  }
  
  .slogan {
    font-size: 14px;
    margin: 0;
    font-style: italic;
  }


.navigation-bar {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size:larger;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
  }
  
  .nav-item {
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }

  .nav-item:not(:last-child) {
    margin-right: 40px; 
  }
  
  .nav-item:hover {
    animation: glowing 1.5s infinite;
  }
  
  @keyframes glowing {
    0% {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    }
    100% {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }
  